/*清除默认样式*/
*{
    margin: 0;
    padding: 0;
}
/*解决高度塌陷问题*/
.clearfix:before,.clearfix:after{
    content: ' ';
    display: table;
    clear: both;
}
.clearfix{
    zoom: 1;
}
/*设置通用样式*/
.main{
    width: 1210px;
    margin: 0 auto ;
    background-color: pink;
}
.floatL{float: left;}
.floatR{float: right;}
/*设置header样式*/
.header{
    height: 160px;
}
.header .top_con{
    /*height: 40px;*/
    background-color: #32373e;
}
.header .top_con .topConMid{
    height: 40px;
}
.header .top_con .topConMid .topConMidLeft{
    height: 40px;
    width: 600px;
    /*background-color: yellow;*/
}
.header .top_con .topConMid .topConMidLeft a{
    text-decoration: none;

}
.header .top_con .topConMid .topConMidLeft .left1 .aTxt1{
    font-size: 21px;
    font-weight: bold;
    color: #00b38a;
    line-height: 40px;
    margin-left: 7px;
    margin-right: 32px;
}
.header .top_con .topConMid .topConMidLeft .left1 .aTxt2{
    color: #00b38a;
    font-size: 12px;
    line-height: 40px;
    margin-right: 13px;
    font-weight: bold;
}
.header .top_con .topConMid .topConMidLeft .left1 .aTxt3{
    font-size: 12px;
    color: #afb5c0;
    line-height: 40px;
    margin-right: 35px;
}

.header .top_con .topConMid .topConMidLeft .left2{

}
.header .top_con .topConMid .topConMidLeft .left2 li{
    list-style: none;
    float: left;
    width: 70px;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    /*color: #afb5c0;*/
}
.header .top_con .topConMid .topConMidLeft .left2 li a{
    color: #afb5c0;
    font-weight: bold;
}
.header .top_con .topConMid .topConMidLeft .left2 li:first-child{
    background-color: #000;
}
.header .top_con .topConMid .topConMidLeft .left2 li:first-child a{
    color: #fff;
}
.header .top_con .topConMid .topConMidRight{
    height: 40px;
    width: 324px;
    background-color: gold;
}
.header .bot_con{
    /*height: 120px;*/
    background-color: #00b38a;
}
.header .bot_con .botConMid{
    height: 120px;
}




/*设置search样式*/