/*清除默认样式*/
*{
    margin: 0;
    padding: 0;
}
input{border: none;}
a{text-decoration: none;}
li{list-style: none;}
/*便于测试*/
/*body{*/
/*    height: 20000px;*/
/*}*/
/*便于测试*/
/*便于测试中的所有代码，在页面完成后都需要全部删除*/


/*解决高度塌陷问题*/
.clearfix:before,.clearfix:after{
    content: ' ';
    display: table;
    clear: both;
}
.clearfix{
    zoom: 1;
}
/*设置通用样式*/
.main{
    width: 1210px;
    margin: 0 auto ;
    /*background-color: pink;*/
}
/*调试样式，每一部分设计完成后将这个class标签替换为main*/
.test{
    width: 1210px;
    margin: 0 auto ;
    background-color: pink;
}
.floatL{float: left;}
.floatR{float: right;}
/*设置header样式*/
.header{
    height: 160px;
}
/*设置header上半部分的样式*/
.header .top_con{
    /*height: 40px;*/
    background-color: #32373e;
}
.header .top_con .topConMid{
    height: 40px;
}
.header .top_con .topConMid .topConMidLeft{
    height: 40px;
    width: 600px;
    /*background-color: yellow;*/
}
.header .top_con .topConMid .topConMidLeft a{
    text-decoration: none;

}
.header .top_con .topConMid .topConMidLeft .left1 .aTxt1{
    font-size: 21px;
    font-weight: bold;
    color: #00b38a;
    line-height: 40px;
    margin-left: 7px;
    margin-right: 32px;
}
.header .top_con .topConMid .topConMidLeft .left1 .aTxt2{
    color: #00b38a;
    font-size: 12px;
    line-height: 40px;
    margin-right: 13px;
    font-weight: bold;
}
.header .top_con .topConMid .topConMidLeft .left1 .aTxt3{
    font-size: 12px;
    color: #afb5c0;
    line-height: 40px;
    margin-right: 35px;
}
.header .top_con .topConMid .topConMidLeft .left2 li{
    list-style: none;
    float: left;
    width: 70px;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    /*color: #afb5c0;*/
}
.header .top_con .topConMid .topConMidLeft .left2 li a{
    color: #afb5c0;
    font-weight: bold;
}
.header .top_con .topConMid .topConMidLeft .left2 li:first-child{
    background-color: #000;
}
.header .top_con .topConMid .topConMidLeft .left2 li:first-child a{
    color: #fff;
}
.header .top_con .topConMid .topConMidRight{
    height: 40px;
    /*width: 324px;*/
    /*background-color: gold;*/
}
.header .top_con .topConMid .topConMidRight ul{
    line-height: 40px;
    /*background-color: red;*/
}
.header .top_con .topConMid .topConMidRight ul li{
    float: right;
    font-size: 12px;
    list-style: none;
}
.header .top_con .topConMid .topConMidRight ul li a{
    text-decoration: none;
    display: block;
    /*background-color: red;*/
}
.header .top_con .topConMid .topConMidRight ul li .login3{
    margin-right: 5px;
    color: #afb5c0;
}
.header .top_con .topConMid .topConMidRight ul li .login2{
    color: #08d7a2;
    margin-right: 24px;
}
.header .top_con .topConMid .topConMidRight ul li .login2 span{
    display: block;
    line-height: 40px;
    width: 12px;
    height: 17px;
    float: left;
    margin-top: 11px;
    margin-right: 4px;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -64px -212px;
}
.header .top_con .topConMid .topConMidRight ul li .login1{
    margin-right: 40px;
    color: #afb5c0;
}
.header .top_con .topConMid .topConMidRight ul li .login1 span{
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.header .top_con .topConMid .topConMidRight ul li .login{
    color: #afb5c0;
}
.header .top_con .topConMid .topConMidRight ul li .login span{
    display: block;
    line-height: 40px;
    width: 18px;
    height: 18px;
    float: left;
    margin-top: 11px;
    margin-right: 10px;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    background-position: -76px -174px;
}
/*设置header下半部分的样式*/
.header .bot_con{
    /*height: 120px;*/
    background-color: #00b38a;
}
.header .bot_con .botConMid{
    height: 120px;
}
.header .bot_con .botConMid .botConMidLeft{
    height: 100%;
    width: 550px;
    background: url("../img/logo.png") no-repeat;
    background-size: 50% 100%;
    padding-right: 20px;
    /*background-color: gold;*/
}
.header .bot_con .botConMid .botConMidLeft .xuanyan{
    margin-top: 35px;
}
.header .bot_con .botConMid .botConMidLeft .xuanyan p{
    color: white;
    font-size: 11px;
    margin-top: 15px;
}
.header .bot_con .botConMid .botConMidRight{
    height: 100%;
    /*width: 450px;*/
    /*background-color: deepskyblue;*/
}
.header .bot_con .botConMid .botConMidRight .inputBox{
    height: 38px;
    margin-top: 44px;
}
.header .bot_con .botConMid .botConMidRight .inputBox .finput{
    height: 35px;
    width: 158px;
    margin-right: 23px;
    padding-left: 5px;
    background-color: #ffffff;
}
.header .bot_con .botConMid .botConMidRight .inputBox .ptn{
    display: inline-block;
    color: #d5dadf;
    background-color: #ffffff;
}
.header .bot_con .botConMid .botConMidRight .inputBox .ptn .sinput{
    height: 35px;
    width: 89px;
    padding-left: 5px;
    background-color: #ffffff;
}
.header .bot_con .botConMid .botConMidRight .inputBox .ptn a{
    font-size: 12px;
    padding-left: 11px;
    padding-right: 12px;
    color: #00b38a;
    text-decoration: none;
}
.header .bot_con .botConMid .botConMidRight .inputBox .tinput{
    height: 33px;
    width: 100px;
    padding-left: 5px;
    margin-left: 9px;
    border: 1px solid white;
    color: #ffffff;
    background-color: #00b38a;
}
/*设置search样式*/
.search{
    height: 101px;
    background-color: #f2f5f4;
    padding-top: 31px;
}
.search .searchMid{
    width: 937px;
    /*background-color: red;*/
}
.search .searchMid .searTn{
    height: 46px;
    /*background-color: red;*/
}
.search .searchMid .searTn input{
    height: 44px;
    width: 777px;
    border: 1px solid #e8e8e8;
    color: #757575;
    padding-left: 16px;
}
.search .searchMid .searTn a{
    display: block;
    float: right;
    height: 46px;
    width: 142px;
    text-align: center;
    font-size: 17px;
    line-height: 46px;
    color: #ffffff;
    background-color: #00b38a;
}
.search .searchMid .ulBtn{
    margin-top: 13px;
}
.search .searchMid .ulBtn li{
    float: left;
    font-size: 12px;
    /*color: #00b38a;*/
    margin-right: 19px;
}
.search .searchMid .ulBtn li a{
    color: #00b38a;
}
.search .searchMid .ulBtn li:first-child{
    margin-right: 10px;
    /*color: #777777;*/
}
.search .searchMid .ulBtn li:first-child a{
    color: #777777;
}
/*设置banner样式*/
.banner{
    height: 363px;
    padding-top: 46px;
    /*background-color: blue;*/
}
.banner .bannCon{
    padding-right: 4px;
}
.banner .bannCon .bannConL{
    height: 363px;
    width: 304px;
    /*background-color: skyblue;*/
}
.banner .bannCon .bannConL div{
    margin-left: 3px;
    margin-bottom: 25px;
}
.banner .bannCon .bannConL div:first-child{
    /*background-color: papayawhip;*/
}
.banner .bannCon .bannConL div ul li{
    float: left;
    margin-right: 26px;
}
.banner .bannCon .bannConL div ul li a{
    font-size: 11px;
    color: #555555;
}
.banner .bannCon .bannConL div ul .Fli{
    margin-right: 12px;
}
.banner .bannCon .bannConL div ul .Fli a{
    font-size: 17px;
    color: #333333;
}
.banner .bannCon .bannConL div .ulSpan{
    float: right;
    padding-top: 1px;
    font-size: 11px;
    font-family: 宋体;
    color: #838383;
}
.banner .bannCon .bannConR{
    position: relative;
    height: 347px;
    width: 841px;
    /*background-color: gold;*/
}
.banner .bannCon .bannConR:hover span{
    display: block;
}
.banner .bannCon .bannConR img{
    position: absolute;
    height: 347px;
    width: 841px;
}
.banner .bannCon .bannConR span{
    display: none;
    position: absolute;
    top: 45%;
    font-family: "宋体";
    font-size: 33px;
    font-weight: bold;
    color: #757478;
    /*background-color: red;*/
}
.banner .bannCon .bannConR .btnL{
    left: 20px;
}
.banner .bannCon .bannConR .btnR{
    right: 20px;
}
/*设置content的样式*/
.content{
    margin-top: 32px;
    /*height: 1586px;*/
    /*background-color: green;*/
}
.content .contMid{
    height: 100%;
}
.content .contMid .line1 .top{
    border-bottom: 1px solid #e8e8e8;
}
.content .contMid .line1 .top a{
    display: inline-block;
    color: #999999;
    font-size: 15px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 17px;
}
.content .contMid .line1 .top a:first-child{
    color: #333333;
    margin-left: 4px;
    margin-right: 58px;
    border-bottom: 2px solid #000000;
}
.content .contMid .line1 .bottom{
    padding-top: 26px;
    padding-bottom: 18px;
}
.content .contMid .line1 .bottom .fSpan{
    display: inline-block;
    height: 18px;
    width: 18px;
    margin-left: 4px;
    margin-right: 11px;
    border-radius: 50%;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    background-color: #e6e6e6;
}
.content .contMid .line1 .bottom a{
    color: #999999;
    font-size: 12px;
}
.content .contMid .line1 .bottom a:last-child{
    color: #00b38a;
    margin-left: 56px;
}
.content .contMid .listBox .ulBox li{
    margin-bottom: 16px;
}
.content .contMid .listBox .ulBox li .job{
    width: 350px;
    height: 160px;
    padding: 24px 17px 14px 23px;
    border: 1px solid #eaeeed;
}
.content .contMid .listBox .ulBox li .job:nth-of-type(2){
    margin-right: 17px;
    margin-left: 17px;
}
.content .contMid .listBox .ulBox li .job .pTxt1{
    margin-bottom: 13px;
    height: 15px;
}
.content .contMid .listBox .ulBox li .job .pTxt1 .jobName{
    color: #333333;
    font-size: 15px;
    font-weight: bold;
    margin-right: 8px;
}
.content .contMid .listBox .ulBox li .job .pTxt1 .time{
    color: #999999;
    font-size: 13px;
    margin-right: 8px;
}
.content .contMid .listBox .ulBox li .job .pTxt1 .money{
    color: #fa6041;
    font-size: 13px;
    margin-left: 70px;
}
.content .contMid .listBox .ulBox li .job .pTxt2{
    margin-bottom: 12px;
    height: 13px;
}
.content .contMid .listBox .ulBox li .job .pTxt2 .txtSp1{
    color: #777777;
    font-size: 13px;
}
.content .contMid .listBox .ulBox li .job .pTxt3{
    padding-bottom: 20px;
    height: 28px;
    border-bottom: 1px dashed #e0e0e0;
}
.content .contMid .listBox .ulBox li .job .pTxt3 .txtSp2{
    display: inline-block;
    font-size: 11px;
    line-height: 26px;
    text-align: center;
    color: #999999;
    height: 26px;
    width: 71px;
    border: 1px solid #f0f0f0;
    margin-right: 10px;
}
.content .contMid .listBox .ulBox li .job .imgBox{
    margin-top: 18px;
}
.content .contMid .listBox .ulBox li .job .imgBox img{
    display: block;
    /*float: left;*/
    margin-right: 14px;
    height: 40px;
    width: 40px;
}
.content .contMid .listBox .ulBox li .job .imgBox .imgTxt .company{
    font-size: 12px;
    color: #555555;
}
.content .contMid .listBox .ulBox li .job .imgBox .imgTxt .companyLabel{
    color: #999999;
    font-size: 12px;
}
.content .contMid .more{
    width: 387px;
    height: 42px;
    border: 1px solid #00b38a;
    margin: 0 auto 47px;
    color: #00b38a;
    font-size: 15px;
    line-height: 42px;
    text-align: center;
}
.content .contMid .listBox1 .oneBox{
    margin-bottom: 16px;
}
.content .contMid .listBox1 .oneBox .firstB{
    /*background-color: yellow;*/
    height: 286px;
    width: 242px;
    padding-left: 23px;
    padding-right: 23px;
    border: 1px solid #eeeeee;
    margin-right: 16px;
}
.content .contMid .listBox1 .oneBox .firstB:first-child{
    margin-left: 1px;
}
.content .contMid .listBox1 .oneBox .firstB:last-child{
    margin-right: 0px;
}
.content .contMid .listBox1 .oneBox .firstB img{
    display: block;
    height: 80px;
    width: 80px;
    margin: 20px auto 17px;
}
.content .contMid .listBox1 .oneBox .firstB .pF{
    height: 17px;
    line-height: 17px;
    color: #333333;
    font-size: 15px;
    text-align: center;
    margin-bottom: 12px;
}
.content .contMid .listBox1 .oneBox .firstB .pS{
    font-size: 12px;
    color: #999999;
    height: 14px;
    line-height: 14px;
    text-align: center;
    margin-bottom: 15px;
}
.content .contMid .listBox1 .oneBox .firstB .pT{
    font-size: 12px;
    color: #555555;
    height: 14px;
    line-height: 14px;
    text-align: center;
    margin-bottom: 18px;
    /*这三行用来实现“强制不换行并隐藏”*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content .contMid .listBox1 .oneBox .firstB .bottomB{
    margin: 0 auto;
    /*background-color: red;*/
    border-top: 1px dashed #e0e0e0;
    padding-top: 20px;
}
.content .contMid .listBox1 .oneBox .firstB .bottomB div{
    /*background-color: green;*/
    /*margin: 0 auto;*/
}
.content .contMid .listBox1 .oneBox .firstB .bottomB .divF{
    width: 76px;
}
.content .contMid .listBox1 .oneBox .firstB .bottomB .divS{
    width: 79px;
}
.content .contMid .listBox1 .oneBox .firstB .bottomB .divT{
    width: 85px;
}
.content .contMid .listBox1 .oneBox .firstB .bottomB div:nth-of-type(2){
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
}
.content .contMid .listBox1 .oneBox .firstB .bottomB div p{
    font-size: 11px;
    color: #00b38a;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px;
}
.content .contMid .listBox1 .oneBox .firstB .bottomB div span{
    font-size: 11px;
    color: #c2a5a5;
    text-align: center;
    display: block;
    /*margin: 0 auto;*/
}
.content .contMid .line3{

}
.content .contMid .line3 .bottom a{
    margin-right: 18px;
}
.content .contMid .line3 .bottom div span{
    font-size: 12px;
    color: #99a5c2;
}
.content .contMid .line3 .bottom div img{
    margin-bottom: 2px;
}
/*设置footer的样式*/
.footer{
    margin-top: 76px;
    /*background-color: yellow;*/
    height: 390px;
    border-top: 1px solid #ebebeb;
}
.footer .footMid .footTop{
    /*width: 400px;*/
    /*height: 400px;*/
    background-color: white;
}
.footer .footMid .footTop .appBox{
    margin-top: 49px;
    margin-bottom: 64px;
    width: 310px;
    height: 172px;
    /*background-color: powderblue;*/
    border-right: 1px solid #e8e8e8;
    padding-left: 5px;
}
.footer .footMid .footTop .appBox .smallB{
    border: 1px solid #00b38a;
    height: 40px;
    width: 180px;
    color: #00b38a;
    font-size: 12px;
    line-height: 40px;
    /*text-align: center;*/
    margin-bottom: 16px;
    /*margin-left: 5px;*/
}
.footer .footMid .footTop .appBox .smallB span{
    display: block;
    float: left;
    margin-top: 11px;
    margin-left: 30px;
    margin-right: 4px;
    height: 15px;
    width: 15px;
    background: url("../img/sprite2.png") no-repeat;
}
.footer .footMid .footTop .appBox .smallB:nth-of-type(1) span {
    background-position: -147px -220px;
}
.footer .footMid .footTop .appBox .smallB:nth-of-type(2) span {
    background-position: -214px -54px;
}
.footer .footMid .footTop .appBox .smallB3{
    color: #555555;
    font-size: 12px;
}
.footer .footMid .footTop .appBox .smallB3 span{
    margin-right: 26px;
}
.footer .footMid .footTop .dlList{
    margin-top: 49px;
}
.footer .footMid .footTop .dlList dl{
    margin-left: 160px;
}
.footer .footMid .footTop .dlList dl:first-child {
    margin-left: 100px;
}
.footer .footMid .footTop .dlList dl dt{
    margin-bottom: 35px;
    font-size: 18px;
    font-family: 宋体;
    font-weight: bold;
    color: #555555;
}
.footer .footMid .footTop .dlList dl dd{
    margin-bottom: 15px;
    font-size: 14px;
    color: #555555;
}
.footer .footMid .change{
    /*后来补充的，原先设计的一点小问题，已经修改完毕*/
    background-color: #fafafa;
}
.footer .footMid .footBot{
    /*width: 100%;*/
    height: 60px;
    padding-top: 28px;
    padding-bottom: 12px;
    background-color: #fafafa;
}
.footer .footMid .footBot .smallF p{
    height: 58px;
    /*background-color: gold;*/
    font-size: 12px;
    color: #d5dadf;
}
.footer .footMid .footBot .smallF .pStyle{
    line-height: 58px;
    text-align: center;
    margin-right: 20px;
}
.footer .footMid .footBot .smallF .pStyle span{
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    margin-top: 22px;
    background: url("../img/sprite2.png") no-repeat;
    background-position: -150px -184px;
}
.footer .footMid .footBot .smallF .p3{
    padding: 6px 0px 10px;
    height: 42px;
    border: 1px solid #d5dadf;
}
.footer .footMid .footBot .smallF .p3 .span2{
    display: block;
    float: left;
    height: 42px;
    margin-right: 15px;
    /*width: 100%;*/
}
.footer .footMid .footBot .smallF .p3 .span1{
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-left: 18px;
    margin-right: 3px;
    background: url("../img/sprite2.png") no-repeat;
    background-position: -130px -19px;
}
.footer .footMid .footBot .smallF .p4 img{
    margin-top: 20px;
}

