article div{
    padding-bottom: 0.25rem;
    border-bottom: 1px solid #666666;
}
article div>p{
    font-size: 0.37rem;
    margin-bottom: 0.1rem;
}
article div .firstImg{
    width: 100%;
    margin-bottom: 0.2rem;
}
article div .hot{
    float: left;
    margin-right: 0.1rem;
}
article div span{
    font-size: 0.22rem;
    margin-right: 0.5rem;
}
article div .err{
    float: right;
}







